.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.bg-purple {
    background-color: #ffffff;
}

.bg-blue {
    background-color: #0e1892;
}

.lh-100 {
    line-height: 1;
}

.text-black {
    color: rgba(0, 0, 0, 0.5)
}